body {
  margin: 0%;
  padding: 0%;
  color: rgb(148 163 184);
  background: rgb(15 23 42);
  font-family: -apple-system, BlinkMacSystemFont, 'Proxima Nova', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 50px;
  margin: 0px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
}

h1, h2 {
  color: rgb(226 232 240);
}

.nav, .main {
  padding: 4%;
}

.navList {
  display: none;
}

.line {
  background-color: whitesmoke;
  padding-right: 10px;
  padding-top: 1px;
  margin-top: 10px;
}

.navItem:hover {
  color: rgb(226 232 240);
  text-transform: uppercase;
  font-weight: bold;
}

.sectionTitle {
  display: initial;
}

.mainItem {
  padding: 15px;
}

.mainBodyComponent {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-size: 15px;
}

.mainBodyComponent, .mainHeader {
  font-size: 15px;
}

.mainItemTitle {
  color: rgb(226 232 240);
}

.bubble {
  float: left;
  border-radius: 8px;
  margin: 3px;
  padding: 5px;
  background-color: rgba(69, 162, 158, 0.4);
  color: rgb(59, 200, 193);
}

.bubbleContainer {
  display: inline;
}

.mainItem, .navList, h3 {
  font-size: 17px;
}


@media (min-width: 1150px) {

  .app {
    display: flex;
  }

  .nav {
    position: sticky;
    top: 0%;
    height: 100%;
  }
  
  .main {
    right: 0%;
  }
  
  .nav, .main {
    width: 50%;
  }

  .navList {
    display: initial;
    position: relative;
    top: 40px;
  }

  .sectionTitle {
    display: none;
  }

  .mainItem {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
    margin: 0;
  }

  .mainHeader {
    grid-column: 1;
    padding-right: 10px;
  }

  .mainBody {
    grid-column: 2;
  }
}
